body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.gameplay {
  align-self: center;
  width: 90vw;
  height: 40vw;
  background-color: black;
  display: flex;
  overflow: scroll;
  flex-direction: row;
}
.tools {
  width: 20%;
  height: 40vw;
  background-color: red;
  position: sticky;
  right: 0;
  top: 0;
}
.gridTiles {
  width: 80%;
  height: 100%;
  background-color: aqua;
}
.tiles {
  display: grid;
  grid-template-columns: repeat(20, 5vw);
  grid-template-rows: repeat(8, 5vw);
  gap: 5px;
}
